* {
    font-family: 'Cheeronsta', sans-serif;
}

body {
    background-image: url("../images/background.jpg");
    display: flex;
    justify-content: center;
}

.todos-container {
    height: 500px;
    width: 600px;
    margin-top: 5rem;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 20px gray;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.todos-list {
    overflow-y: auto;
    width: 370px;
    height: 300px;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    background-color: #E0FFFF;
    padding: 0.2rem;
    margin: 0.5rem;
    border-radius: 20px;
    width: 350px;
    height: 30px;
}

#todo-input,
#search-input {
    margin: 1rem 0rem;
    height: 30px;
    width: 250px;
    border-radius: 20px;
    background-color: #00416A;
    color: white;
}

button {
    border: none;
    height: 30px;
    width: 50px;
    background-color: #00BFFF;
    border-radius: 20px;
    cursor: pointer;
}

#search-btn,
#add-btn {
    height: 35px;
    width: 60px;
}