/*.title {
    background-color: black;
    color: aliceblue;
}*/
*{
    font-family: 'Cheeronsta', sans-serif;
    /* font-family: 'Cheeronsta Light', sans-serif; */
}
body {
    /* background-image: linear-gradient(to right, #FED9B7 55% , #F07162); */
    display: flex;
    justify-content: center;
}

.todos-container {
    height: 500px;
    width: 600px;
    margin-top: 5rem;
    border-radius: 30px;
    background-color:white;
    box-shadow: 0 0 20px gray;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.todos-list{
    overflow-y: auto;
    width: 370px;
    height: 300px;
} 

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    background-color: antiquewhite;
    padding: 0.2rem;
    margin: 0.5rem;
    border-radius: 20px;
    width: 320px;
    height: 30px;
}

#todo-input, #search-input{
    margin: 1rem 0rem;
    height: 30px;
    width: 250px;
    border-radius: 20px;
    background-color:#F07162;
}

button{
    border: none;
    height: 30px;
    width: 60px;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

