/*.title {
    background-color: black;
    color: aliceblue;
}*/
body {
    background-image: radial-gradient(circle at center, #F07162 , #FED9B7);
    display: flex;
    justify-content: center;
}

.search{
    margin: 2rem;
}

.todos-container {
    height: 400px;
    width: 600px;
    margin-top: 5rem;
    border-radius: 30px;
    background-color:white;
    box-shadow: 0 0 20px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.todos-list{
    overflow: scroll;
}

.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    width: 300px;
    height: 30px;
}

#todo-input{
    height: 30px;
    width: 300px;
    border-radius: 20px;
    background-color:#F07162;
}

button{
    border: none;
    height: 30px;
    width: 60px;
    background-color: #00AFB9;
    box-shadow: 0 0 5px gray;
    border-radius: 20px;
    cursor: pointer;
}

